
<h1>Gotras</h1>

<table style="width:100%">
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @gotras.each do |gotra| %>
      <tr>
        <td><%= gotra.name %></td>

        <td><%= link_to 'Edit', edit_gotra_path(gotra) %></td>
        <td><%= link_to 'Delete', gotra, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Gotra', new_gotra_path %>
