// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#bg{
  background-image: url('https://wallpaperaccess.com/full/494648.jpg');
  height:100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 110%;
  transition: 3s cubic-bezier(.02,.73,.44,1);
  -moz-transition: 3s cubic-bezier(.02,.73,.44,1);
  -webkit-transition: 3s cubic-bezier(.02,.73,.44,1);
}
#bg .content1{
  // position:absolute;
  top:50%;
  min-height: 500px;
  left:50%;
  text-align:center;
  width:200px;
  height:200px;
  margin-left: -100px;
}
@import url(https://fonts.googleapis.com/css?family=Roboto:400,100,900);

html,
body {
  -moz-box-sizing: border-box;
       box-sizing: border-box;
  height: 100%;
  width: 100%;
  background: #FFF;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}

.wrapper {
  display: table;
  height: 100%;
  width: 100%;
}

.container-fostrap {
  display: table-cell;
  padding: 1em;
  text-align: center;
  vertical-align: middle;
}
.fostrap-logo {
  width: 100px;
  margin-bottom:15px
}
h1.heading {
  color: #fff;
  font-size: 1.15em;
  font-weight: 900;
  margin: 0 0 0.5em;
  color: #505050;
}
@media (min-width: 450px) {
  h1.heading {
    font-size: 3.55em;
  }
}
@media (min-width: 760px) {
  h1.heading {
    font-size: 3.05em;
  }
}
@media (min-width: 900px) {
  h1.heading {
    font-size: 3.25em;
    margin: 0 0 0.3em;
  }
}
.card {
  display: block;
    margin-bottom: 20px;
    line-height: 1.42857143;
    background-color: #fff;
    border-radius: 2px;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
    transition: box-shadow .25s;
}
.card:hover {
  box-shadow: 0 8px 17px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
}
.img-card {
  width: 100%;
  height:200px;
  border-top-left-radius:2px;
  border-top-right-radius:2px;
  display:block;
    overflow: hidden;
}
.img-card img{
  width: 100%;
  height: 200px;
  object-fit:cover;
  transition: all .25s ease;
}
.card-content {
  padding:15px;
  text-align:left;
}
.card-title {
  margin-top:0px;
  font-weight: 700;
  font-size: 1.65em;
}
.card-title a {
  color: #000;
  text-decoration: none !important;
}
.card-read-more {
  border-top: 1px solid #D4D4D4;
}
.card-read-more a {
  text-decoration: none !important;
  padding:10px;
  font-weight:600;
  text-transform: uppercase
}

/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
// body {
//   background: #ddd;
//   font-family: sans-serif;
// }

.container {
  margin-top: 20px;
}

/*--------------------------------------------------------------
# Table
--------------------------------------------------------------*/
table {
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1), 0px 10px 20px rgba(0, 0, 0, 0.05),
    0px 20px 20px rgba(0, 0, 0, 0.05), 0px 30px 20px rgba(0, 0, 0, 0.05);
  font-size: 14px;
}

th {
  color: #ffffff;
  background: #39a2fb;
  font-weight: 700;
}

tr {
  background: #fff;
}

tr:hover {
  background: #f4f4f4;
}

td {
  word-wrap: break-word;
  border-bottom: 1px solid #ccc;
}

/*--------------------------------------------------------------
  # Small and medium screens
  --------------------------------------------------------------*/
@media all and (max-width: 900px) {
  table,
  thead,
  tbody,
  th,
  td,
  tr {
    display: block;
  }

  thead tr {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }

  table {
    box-shadow: none;
  }

  tr {
    margin: 0 0 1rem 0;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 1px 2px 0 rgba(0, 0, 0, 0.24);
    border-top: 5px solid #39a2fb;
    border-radius: 7px;
    padding-right: 5px;
  }

  tr:hover {
    background: #fff;
  }

  td {
    border: none;
    position: relative;
    padding-left: 50%;
    text-align: right;
  }

  td:before {
    position: absolute;
    top: 5px;
    left: 10px;
    width: 45%;
    padding-right: 10px;
    white-space: nowrap;
    content: attr(data-title);
    font-weight: bold;
    text-align: left;
  }
}
